body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 2rem;
    text-align: center;
}

/* Navigasi */
nav {
    background: #34495e;
    display: flex;
    justify-content: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

/* Layout 2 Kolom untuk Desktop */
main {
    display: flex; 
    max-width: 1000px;
    margin: 20px auto;
    gap: 20px;
    padding: 0 20px;
}

section {
    flex: 1; /* Memberi ruang yang sama (2 kolom) */
    background: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #2c3e50;
    color: white;
    margin-top: 20px;
}


/* MOBILE VIEW */
@media (max-width: 767px) {
    main {
        flex-direction: column; /* Mengubah arah flex menjadi vertikal */
    }

    header h1 {
        font-size: 1.5rem; /* Ukuran lebih kecil dari default */
    }

    section h2 {
        font-size: 1.2rem;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }
    
    nav a {
        padding: 5px 0;
    }
}